body {

  margin: 0;
  padding: 0;

}

.bishal {
  width: 100%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: flex;

}


.main {
  width: 100%;
  height: 95px;
  background-color: #fbf7f7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  position: sticky;

}

.forimg img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin-top: 15px;
  margin-left: 20px;


}

.sec nav {
  margin-left: 300px;
  gap: 70px;
  display: flex;
  font-size: 20px;
  margin-top: 40px;
  text-align: center;


}

.sec nav a {
  text-decoration: none;
  color: rgb(246, 208, 103);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.sec nav a:hover {
  color: #0c8b51 !important;
  transition: 0.7s linear;

}

.half {
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(38, 128, 225, 0.653);
  border: 1px solid rgb(227, 203, 17);

}

marquee {

  color: linear-gradient(90deg, #ff6b6b, #4ecdc4);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px;
  
}

.forser {
  width: 100px;
  height: 33px;
  border-radius: 50%;
  margin-top: 35px;
  margin-left: 20px;
  display: flex;
}

.forser button:hover {
  cursor: pointer;
  background-color: yellow;
  border-color: yellow;
  color: rgba(152, 152, 74, 0.534);
  transition: 0.7s linear;
  animation-delay: 0.7s;
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  background: none;
  box-shadow: none;
  border: 0;
  color: #0c8b51;
}

.forser input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  padding-left: 10px;
}

.forser button {
  width: 70px;
  height: 34px;
  border-radius: 5px;
  border: 0;
  margin-left: 5px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  background: none;
  box-shadow: none;
  border: 0;
}

body::selection {
  color: red;
}

.himg img {
  width: 148.5%;
  height: 500px;
  opacity: 0.5; 

}

.classic {
  width: 100%;
  height: 500px;
  background-color: none;
  margin-top: 0px;

}

.text {
  color: white;

  top: 100px;
  left: 100px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1320px;
  width: 100%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 60px !important;
  background: linear-gradient(45deg, #ff6b6b, #4ecdc4);
}

.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
}

.card h2 {
  color: white;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.card p {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.6;
}

.button {
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

.progress-bar {
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  margin: 1rem 0;
  overflow: hidden;
}

.progress {
  width: 0%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  transition: width 0.8s ease;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.card img {
  width: 320px;
  height: 320px;
  border-radius: 15px;
}

.card p {
  font-size: 18px;
  height: 150px;
}

.card:hover img {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.card:hover h2 {
  color: #0c8b51;
}

.card:hover p {
  color: #0c8b51;
}

.progress:hover {
  background-color: #0c8b51;
}

.button:hover {
  background-color: #0c8b51;
  border-color: #0c8b51;
  color: white;
  transition: 0.7s linear;
}
.none{
  margin-bottom: -80px;
  color: rgba(33, 238, 180, 0.432);
}
.counter-wrapper::before {
    position: absolute;
    content: '';
    background-color: rgba(7, 41, 77, .9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.counter-wrapper {
    position: relative;
    z-index: 5;
    padding: 45px 70px 75px;
}
.count-num {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 160px;
    grid-row-gap: 9px;
}
.numbs {
    color: white !important;
    margin-top: 30px;
}
.count {
    font-weight: 700;
    font-size: 50px;
    letter-spacing: .05em;
    line-height: 36px;
    color: #fff;
    font-family: 'Exo', sans-serif;

}
.bg_cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.est {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: .02em;
    line-height: 33px;
    color: #fff;

}

.numbs {
    color: white !important;
    margin-top: 30px;
}
.card-image{
  width: 520px !important;
  height: 320px !important;
  border-radius: 15px !important;
}
.sec nav:active{
  color: black;
}
.est p{
  font-size: 20px;
  margin-top: -10px;
}

.container-3 {
    margin-left: 50px !important;
    margin-right: 300px !important;
    margin-top: 225px;
}
.title h2 {
    font-size: 47px;
    line-height: 50px;
    position: relative;
    display: inline-block;
    font-weight: 700;
    color: #07294d;
    margin: 0;
    width: 450px;
    padding-left: 20px !important;
}
.title h2::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 65%;
    background-color: #07294d;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
  .title p {
    padding-left: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #07294d;
    padding-top: 15px;
    padding-right: 70px !important;
}
.title{
  display: flex;
}

.title-tables {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 145px;
    grid-row-gap: 95px;
    
}
.course {

    color: #fff;
    width: 315px;
    /* padding-left: 20px; */
    background-color: #07294d;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    height: 100%;
     
}
:is(.course a, .course-2 a, .course-3 a, .course-4 a, .course-5 a, .course-6 a, .course-7 a, .course-8 a) {
    color: white;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .05em;
    line-height: 32px;

}
:is(.course h4, .course-2 h4, .course-3 h4, .course-4 h4, .course-5 h4, .course-6 h4, .course-7 h4, .course-8 h4) {
    font-size: 20px;
    padding-left: 23px;
}
.duration-fee {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .03em;
    line-height: 24px;
    color: #fff;
    margin-top: 10px;
    display: flex;
    gap: 5px;
     padding-left: 23px;
}
.fee {
    border-left: 2px solid #fff;
    height: 20px;
    padding-left: 10px;
} 
:is(.star, .ratings, .course-link) {
    display: flex; 
    height: 100px;
     /* padding-left: 23px; */
}

.fa {
    font-size: 15px !important;
    margin-right: 0px !important;
    margin-left: 5px;

}
.ratings {
    font-size: 14px;
    margin-bottom: 5px;
     padding-left: 23px;
}
:is(.apply, .more) {
    font-size: 11px !important;
}

.more {
    margin-left: 15px;
}

.fa-2 {
    margin-left: 0px;
}

.course-link {
    border-top: 1px solid #fff;
    width: 215px;
    margin-top: 20px;
   
     margin-left: 23px;
}

.course-2 {
    color: #fff;
    width: 315px;
    /* padding-left: 20px; */
    background-color: #0c8b51;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    height: 100%;
}

.tt {
    height: 100%;
}

.course-3 {
    background-color: #2f7ad5;
}

.course-4 {

    background-color: #27b8a7;
}

:is(.course-3, .course-4, .course-5, .course-6, .course-7, .course-8) {
    color: #fff;
    width: 315px;
    /* padding-left: 20px; */
    /* padding-top: 10px; */
    padding-bottom: 10px;
    height: 100%;
}

.course-5 {
    background-color: #1ec1d9;
}   
.course-6 {
    background-color: #d94da6;
}

.course-7 {
    background-color: #eab830;
}

.course-8 {
    background-color: #753b76;
}
.container-3{
  margin-bottom: 50px;
  

}
.content{
  background-color: white;
  width: 1371px;
  margin-left: -101px !important;
  padding-left: 95px;
  padding-top: 50px;
  padding-bottom: 50px
}
   
.tt a {
  text-decoration: none !important; 
}
.course img{
  width: 315px;
  
 
}
:is(.course-2 img, .course-3 img, .course-4 img, .course-5 img, .course-6 img, .course-7 img, .course-8 img) {
  width: 315px;
  
 
}   
.apply:hover {
  
  
  color: black;
  transition: 0.7s linear;
}
.apply{
  height:50px;
}